{% extends "layouts/base.html" %}

{% block title %}Select JSON File{% endblock %}

{% block content %}
<main class="content">
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                   <h3 class="mb-3">Create an environment in the IndyKite platform using the REST endpoints.</h3>
                    <p class="text-muted mb-3">Create each element following the order list to create an environment, capture data and test KBAC and ContX IQ policies.</p>
                    <p class="text-muted mb-3">Each element created is automatically added in the .env file.</p>
                    <p class="text-muted mb-3">Each element created is also displayed in the UI IndyKite platform: https://eu.hub.indykite.com (or https://us.hub.indykite.com)</p>
                        <ul>
                        <li><a href="/api_project/create" class="link-indigo">Create project</a></li>
                            <li><a href="/api_application/create" class="link-indigo">Create application</a></li>
                            <li><a href="/api_app_agent/create" class="link-indigo">Create application agent</a></li>
                            <li><a href="/api_token_introspect/create" class="link-indigo">Create token introspect</a></li>
                            <li><a href="/api_authorization_policy/create" class="link-indigo">Create authorization policy</a></li>
                            <li><a href="/api_capture/create" class="link-indigo">Capture nodes</a></li>
                            <li><a href="/api_relationships/create" class="link-indigo">Capture relationships</a></li>
                            <li><a href="/api_authzen/evaluate" class="link-indigo">Evaluate authorization (AuthZen)</a></li>
                            <li><a href="/api_ciq_policy/create" class="link-indigo">Create ContX IQ policy</a></li>
                            <li><a href="/api_ciq_knowledge_query/create" class="link-indigo">Create ContX IQ knowledge query</a></li>
                            <li><a href="/api_ciq_execute/execute" class="link-indigo">Execute ContX IQ</a></li>
                            <li><a href="/api_project/delete" class="link-indigo">Delete project</a></li>
                       </ul>
                </div>
            </div>
        </div>
    </div>

     <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                   <h3 class="mb-3">Requirements </h3>
                        <ul>
                            <li>Service account credentials created on the IndyKite platform: https://eu.hub.indykite.com/service-accounts (or https://us.hub.indykite.com/service-accounts)</li>
                       </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                   <h3 class="mb-3">Environment variables </h3>
                        <ul>
                            <li>SA_TOKEN: SA credentials token obtained on https://eu.hub.indykite.com/service-accounts (or https://us.hub.indykite.com/service-accounts)</li>
                            <li>URL_ENDPOINTS: https://eu.api.indykite.com (or https://us.api.indykite.com)</li>
                       </ul>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}
